  /* Set height of the grid so .sidenav can be 100% (adjust if needed) */
    .row.content {height: 1500px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      background-color: #f1f1f1;
      height: 100%; 
    }
    
    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height: auto;} 
    }


.sidenav, .col-sm-3{
    background: #9ebe57;
}



.navbar, .navbar-default,.navbar-static-top{
    margin: 0;
    background: linear-gradient(to bottom right, rgb(190, 245, 140), rgb(230, 238, 210))!important;
    color: black!important;
    padding-bottom: 1%;
    padding-top: 1%;
        border: none;
    border-radius: 0px;
}


a, li{
    color: white!important;
}


li a {

    color: black;
}

li{

}

.white
{
    color: white;
}


body{
    overflow-x: hidden;
}

li .actived{
    background: green!important;
}


.profil{
  display: inline-block;
  margin-left: 100px;
  border: solid 1px;
 
  right: 0px;
  background: #00FF84!important;
  width: auto;


}

.profil:hover{
    color: black!important;
    background:#D7FFA3!important;
}
.profil a{
    color: black!important;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #fff;
    background:none;
}


ul, li, p, span, div, input, button, a{

    transition: all 0.3s ease;
}


 

li a .profil{
    background: black;
}

.id{
    display: table-caption!important;
    width: auto!important;
}


@media screen and (min-width: 200px) and (max-width: 767px) {

    .asidecateg{
        display: none;
    }
}

.link2 {
  color: black!important;
   padding: 20px;
   background-color: lightgreen;
   transition: all 0.4s ease;
 
  
}

.link2:hover{

  text-decoration: none;
  border-radius: 55px;
  transition: all 0.4s ease;
}

h2, h5,  p{
  color: black!important;
}


.content_article{

  font-size: 20px!important;
}

 

.input-group{
  padding-top: 3%!important;

}

.input-group-addon, .fc2{
color: black!important;
background: lightgreen!important;
}

.col-md-4{

  position: fixed;
  left: 1px;
  top: 50px;
  height: 300%;
 background: linear-gradient(to bottom right, rgb(190, 245, 140), rgb(230, 238, 210));
 z-index: 9!important;

}

.navbar, .navbar-default, .navbar-static-top{
  z-index: 1;

       background-color: #8ed03d!important;

       color: white!important;
 
}

a, p, span {
  color: black!important;
}

a{
   color: white!important;
}
.col-md-8{
  margin-left: 33%;
}

.cookies{ 
  position: fixed;
  top: 1px;
  width: 100%;
  height: auto;
  padding:10px;
  background:rgba(26, 60, 159, 0.8);
  z-index: 12;
  font-size:18px;
  color: white;
}

.cookies a{
  color: white!important;
  background: blue;
  padding: 5px;
  text-decoration: none;
}

.flouting{
  height: 100vh;
  width: 100vw;
  opacity: 0.4; 
}

.accept{ 
  background-color: blue;
  color: white;
  border: none;
  padding: 5px;
  font-size: 18px;
  margin: 5px;
}

.refuse{
  font-size: 18px; 
  padding: 5px;
  background-color: blue;
  color: white;
  border: none;
  margin: 5px;
}
.poli{
  float: right;
}
footer{
  text-align: left;
  
  bottom: 0px;
    position: relative;
        width: 117vw;
    left: 28%;
}


.profiling{
  opacity: 0;
  z-index: 1000;
  position: fixed;
    right: 1px;
   top: 1px;
  color: black!important;
  background-color: #9FFF9E;
  padding:15px;

}
.profiling ul li a{
color: black!important;
}


.black {
  color: black!important;
  text-decoration: none!important;
}



.card-header{
      background-color: mintcream!important;
}

.btn, .btn-secondary{
  background-color: blue!important;
}
/*HOVER A - LINK - animation*/
li > a {
  position: relative;
  color: #000;
  text-decoration: none;
}

li > a:hover {
  color: #000;
}
li > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
li > a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}


/*FIN : HOVER A - LINK...*/
/*!
 * Start Bootstrap - Blog Home (https://startbootstrap.com/template-overviews/blog-home)
 * Copyright 2013-2017 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-blog-home/blob/master/LICENSE)
 */



body {
  overflow-x: hidden;
  margin-top: 50px!important;
  padding-top: 54px;
 
}

.nav-link{
  color:black!important;
}
.navbar-brand{
  color:black!important;
}
@media screen and (min-width: 450px) and (max-width: 992px){
  .col-md-4{
    display: none;
  }
  .col-md-8{
    margin-left: 0px;
  }
}


@media screen and (min-width: 300px) and (max-width: 450px){
  .col-md-4{
    display: none;
  }
  .col-md-8{
    margin-left: 0px;
  }
}

.inscription{
      -webkit-box-flex: 0;
    -ms-flex: 0 0 66.666667%!important;
    flex: 0 0 66.666667%!important;
    max-width: 35.666667%!important;
  margin-right: 15%;
  margin-bottom: 25%!important;
}