<div class="col-md-8 inscription">
<form method="post">
<link rel="stylesheet" type="text/css" href="blog.css">
 
          <div class="form-group">
            <label for="InputName">Nom*</label>
            <input type="text" class="form-control" id="exampleInputName1" name="name" placeholder="Prenom">
            <small  class="form-text text-muted">*Nous vous demandons cette information pour uniquement enrichir votre profil.<br>Nous ne partagerons jamais vos informations avec qui que se soit.</small>

          </div>

          <div class="form-group">
            <label for="InputFirstName">Prénom*</label>
            <input type="text" class="form-control" id="exampleInputFirstName1" name="firstname" placeholder="Password">
            <small  class="form-text text-muted">*Nous vous demandons cette information pour uniquement enrichir votre profil.<br>Nous ne partagerons jamais vos informations avec qui que se soit.</small>
          </div>

          <div class="form-group">
            <label for="InputEmail">Adresse E-Mail*</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email" placeholder="Enter email">
            <small  class="form-text text-muted">*Nous vous demandons une adresse e-mail pour vous contacter pour d'eventuelles offres, article qui pourrait vous interesser, ext..<br>*Nous ne partagerons jamais votre adresse e-mail avec qui que se soit.</small>
          </div>

          <div class="form-group">
            <label for="InputPassword">Mot de passe</label>
            <input type="password" class="form-control" id="exampleInputPassword1" name="password"  placeholder="Password" >
          </div>
        
          <div class="form-group">
            <label for="Inputbirthdate">Date De Naissance</label>
            <input type="date" class="form-control" id="exampleInputPassword1" name="birth_date"  placeholder="Password">
          </div> 
         
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Acceptez-vous les conditions générales du site, RGPD ext,...</label>
          </div>
          <input type="submit" class="btn btn-primary">
</form>
</div>