<?php foreach($articles as $article) : ?>


 <div class="card mb-4">
            <div class="card-body">
              <?= $author -> getName();?>
            </div>    


            <div class="card-body">
              <h2 class="card-title">
                <?= $article -> getTitle_article() ?>
              </h2>
                
               
            </div>
            
            <div class="card-footer text-muted">
              Publié le,  <?php

               $datepost = $article -> getDate_publication();
           
               $dd = substr($datepost, -11, -9);
               $dm = substr($datepost, -14, -12);
               $dy = substr($datepost, -27, 4);
               $dh = substr($datepost, -9, 3);
               $dmi = substr($datepost, -5, 2);

               echo $dd."/".$dm."/".$dy." à ".$dh.":".$dmi;




               ?> Par
              <a href="#"></a>
              
          </div>
</div>  
<hr>
<?php endforeach; ?>

 

