<!--    <?= "<pre>" ?>
 <?= var_dump($donnees) ?>
 <?= "</pre>" ?> -->
  <?php foreach($donnees as $donnee) : ?>
 
<div class="card mb-4">
 
            <img class="card-img-top" src="<?= $url ?>upload/<?= $donnee['img_article'] ?>" alt="Card image cap">
            <div class="card-body">
              <h2 class="card-title">
                <?= $donnee['title_article'] ?> 
              </h2>
              <p><?=$donnee['category'] ?><p>
              <p class="card-text">
              <?=$donnee['content']?>
              
                   
               </p>
               
            </div>
            
            <div class="card-footer text-muted">
              Publié<?php

               $datepost = $donnee['date_publication'];
           
               $dd = substr($datepost, -11, -9);
               $dm = substr($datepost, -14, -12);
               $dy = substr($datepost, -27, 4);
               $dh = substr($datepost, -9, 3);
               $dmi = substr($datepost, -5, 2);

               echo " à ".$dh."h".$dmi." le ".$dd."/".$dm."/".$dy;




               ?> Par
              <a style="color: black!important;" href="<?= $url ?>author/affiche/<?= $donnee['id_author']?>"><?= $donnee['firstname']?> <?= $donnee['name']?></a>
              
            </div>


</div>

 
  
 <h2 class="card-title">Commentaire :</h2>

    <div class="card mb-4">

                  <div class="card-body">
                     
                  <p><p>
                  <p class="card-text">
             
                  <?= $donnee['content_comment'] ?>
                  
                   </p>
                   
                </div>
                 <div class="card-footer text-muted">
                  Publié<?php

                   $datepost = $donnee['date_publication_comment'];
               
                   $dd = substr($datepost, -11, -9);
                   $dm = substr($datepost, -14, -12);
                   $dy = substr($datepost, -27, 4);
                   $dh = substr($datepost, -9, 3);
                   $dmi = substr($datepost, -5, 2);

                  
                   echo " à ".$dh."h".$dmi." le ".$dd."/".$dm."/".$dy;



                   ?>     par <a style="color: black!important;" href="<?= $url ?>author/affiche/<?= $donnee['id_author']?>"><?= $donnee['firstname']?> <?= $donnee['name']?></a>
                  
                </div>

    </div>
     
 

<?php endforeach; ?>
