
<?php
if($articles){
  echo "il existe putain";
}
else{
  echo "nope.. sry";
}
?>

<?php
if( 1 === 1){
  echo "il existe putain";
}
else{
  echo "nope.. sry";
}
?>
<?php var_dump($_COOKIE); ?>
<?php var_dump($_POST); ?>




 <div class="card mb-4">
            <div class="card-body">
   
            </div>    


            <div class="card-body">
              <h2 class="card-title">
                
              </h2>
                
               
            </div>
            
            <div class="card-footer text-muted">
            
              <a href="#"></a>
              
          </div>
</div>  <hr>
<?php foreach($articles as $article) : ?>
<?= $article -> getid_article(); ?>
<?php endforeach; ?>

