  /* Set height of the grid so .sidenav can be 100% (adjust if needed) */
    .row.content {height: 1500px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      background-color: #f1f1f1;
      height: 100%; 
    }
    
    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height: auto;} 
    }


.sidenav, .col-sm-3{
    background: #9ebe57;
}



.navbar, .navbar-default,.navbar-static-top{
    margin: 0;
    background-color: #9ebe57;
    color: white;
    padding-bottom: 1%;
    padding-top: 1%;
        border: none;
    border-radius: 0px;
}


a, li{
    color: white!important;
}


li a {

    color: white;
}

li{

}

.white
{
    color: white;
}


body{
    overflow-x: hidden;
}

li .actived{
    background: green!important;
}


.profil{
  display: inline-block;
  margin-left: 100px;
  border: solid 1px;
 
  right: 0px;
  background: #00FF84!important;
  width: auto;


}

.profil:hover{
    color: black!important;
    background:#D7FFA3!important;
}
.profil a{
    color: black!important;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #fff;
    background:none;
}


ul, li, p, span, div, input, button, a{

    transition: all 0.3s ease;
}


 

li a .profil{
    background: black;
}

.id{
    display: table-caption!important;
    width: auto!important;
}


@media screen and (min-width: 200px) and (max-width: 767px) {

    .asidecateg{
        display: none;
    }
}