<!DOCTYPE html>
<html lang="fr">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" type="image/x-icon" href="<?= $url ?>upload/favicon.ico">
    <title>Leslie Cabbarrus - Naturopathe</title>

    <!-- Bootstrap core CSS -->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Custom styles for this template -->

    
    <link href="<?= $url ?>/css/blog.css" rel="stylesheet">

  </head>

  <body>
  <?php 
 $connexion = "CONNEXION";
 $inscription = "INSCRIPTION";
 $urlconnect = $url."author/register/inscription.html";
 $urldisconnect = $url."author/connexion/connexion.html";

  if(!empty($_SESSION)){
   
       $inscription = $_SESSION['firstname']." ".$_SESSION['name'];
       $connexion = "DECONNEXION";
       $urlconnect = $url."author/affiche/".$_SESSION['id_author'];
       $urldisconnect = $url."author/deconnexion";
       
  

      }
  else{
        $inscription = "INSCRIPTION";
      }
 ?> 



    <!-- Navigation -->
}
<?php
  if(empty($_COOKIE)){
    echo"
    <div class='cookies'>
      Nous utilisons les cookies pour nos statistiques de fréquentation.
       En continuant à utiliser le site, vous acceptez l’utilisation des cookies.
       <br>
       <a href='#'>En savoir plus</a>
      <button type='submit' class='accept button'>Accepter</button>
      <button type='submit' class='refuse button'>Refuser</button
        ><br>
      <a class='poli' href='#'>Politque de confidentialité</a>
    </div>
    <div class='flouting'>";
  }

?>
      
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">LESLIE CABARRUS - NATUROPATHE</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto userbar">
            <li class="nav-item active">
              <a class="nav-link" href="<?= $url ?>accueil.html">ACCUEIL
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="<?= $url ?>prendre-rendez-vous.html">PRENDRE RENDEZ-VOUS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="<?= $url ?>index.php">BLOG</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="<?= $url ?>a-propos.html">A PROPOS</a>
            </li>
          </ul>
          <ul class="navbar-nav ml-auto userbar">
             
            <li class="nav-item">
              <a class="nav-link" href="<?= $urlconnect ?>"><?= $inscription ?></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="<?= $urldisconnect ?>"><?= $connexion ?></a>
            </li>
          </ul>
          
        </div>

      </div>
    </nav>
 
 

          <!-- ICI DOIT APPARAITRE LE CONTENU -->

          <?= $content ?>


          <!-- ICI S ACHEVE LE CONTENU -->
        </div>

      <!-- /.row -->

    </div>
    <!-- /.container -->

    <!-- Footer -->

    <footer style="left: 0%!important;" class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">LE NATUROPATHE EST UN PRATICIEN SANTÉ.<br>SA CONSULTATION NE DISPENSE PAS DE CELLE D’UN DOCTEUR EN MÉDECINE.
        <a href="<?= $url ?>mentions-legales.html">MENTIONS LÉGALES</a>
        </p>
      </div>
    </footer>
  
    <!-- Bootstrap core JavaScript -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="<?= $url ?>js/cookies.js"></script>
<!-- Fichier JS pour Cookies  -->
  </body>

</html>
 
