<?php foreach($articles as $article) : ?>

 <div class="card mb-4">
 
            <img class="card-img-top" src="upload/<?= $article -> getImg_article() ?>" alt="Card image cap">
            <div class="card-body">
              <h2 class="card-title">
                <?= $article -> getTitle_article() ?>
              </h2>
              <p><?=$article -> getCategory();?></p>
              <p class="card-text">
              <?php 
              $content = strlen($article -> getContent());
              $resume = substr($article -> getContent(), 0, 100);
              echo $resume;
              if ($content >= 100) {
                
                 echo $resume."&nbsp;&nbsp;...<br><br>";             

              }
              else{
                echo ".";
              }
              ?>
                  <a class="link" style="background-color: blue; color: white!important; padding:8px;"  href="article/affiche/<?= $article -> getId_article() ?>">
                    En Savoir Plus
                  </a>
               </p>
               
            </div>
            
            <div class="card-footer text-muted">
              Publié le,  <?php

               $datepost = $article -> getDate_publication();
           
               $dd = substr($datepost, -11, -9);
               $dm = substr($datepost, -14, -12);
               $dy = substr($datepost, -27, 4);
               $dh = substr($datepost, -9, 3);
               $dmi = substr($datepost, -5, 2);

               echo $dd."/".$dm."/".$dy." à ".$dh.":".$dmi;




               ?> Par
              <a href="#"></a>
              
            </div>
          </div>  
<hr>
<?php endforeach; ?>









