/* couleurs : 
1 Gardenia #f1e8df
2 Cherry Blossom #f7cfe1
3 Yellow Iris #eee78e
4 Ultra Violet #5f4b8b
5 Orchid Hush #cec3d2
6 Peach Bud #fdb2a8
7 Lettuce Green #bed38e
8 Astral Aura #363151
*/

/* typographie :
font-family: 'Montserrat', sans-serif;
font-family: 'Libre Baskerville', serif;
*/

body {
    width: 980px;
    margin: 0 auto; 
}

.top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1% 1%;
 }

h5 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 1.2em;
    display: flex;
    align-items: center;
    display: flex;
    align-content: center;
}

.social-media-navbar {
    font-size: 1.5em;
}


/* navigation menu */
nav {
   background: linear-gradient(to bottom right, rgb(190, 210, 140), rgb(230, 238, 210));
        padding: 2% 0%;

}

nav ul {
    display: flex;
    justify-content: center;
    margin-bottom: 0%;
    
}
nav li {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    padding: 0% 2%;
    margin-bottom: 0%;
    text-transform: uppercase;
    justify-content: center;
    text-align: center;
    font-size: .7em;
    color: rgb(31,70,40);
    list-style-type: none;
}




/* main content CSS grid container */



/* typographie */

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    color: white;
    line-height: 1.2em;
    margin-bottom: 10px;
    font-weight: 700;
    margin-bottom: 5%;
    letter-spacing: .05em;

}

/* typographie */

h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 5rem;
    font-weight: 700;
}

/* typographie */
h5 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 1.2em;
     align-items: center;
    display: flex;
    align-content: center;
}

/* grid typography */

p {
    font-family: 'Libre Baskerville', serif;
    font-size: 1em;
    line-height: 1.8em;
    color: #777;
    text-align: left;

}

/* introducion typography 1er grid item */

p.name {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5em;
    line-height: 1em;
    color: rgb(31, 70, 40);
    font-weight: 700;
}

/* introducion typography 1er grid item */

p.job-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    line-height: 1.5em;
    color: rgb(31, 70, 40);
    text-transform: uppercase;
    font-size: 2em;

}

/* introducion typography 1er grid item */

p.location {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    line-height: 1.5em;
    color: rgb(31, 70, 40);
    text-transform: uppercase;
    font-size: 1em;
    margin-bottom: 5%;
}

/* introducion typography 1er grid item */

p.button-texte {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 600;
    color: rgb(31, 70, 40);
    padding: 2% 7%;
    border-radius: 5px;
    background-color: #9ebe57;   
}

/* introducion typography 1er grid item */


p.button-texte:hover {
    background-color: #93b546; 
}

p.bio {
    margin-bottom: 10%;
}


/* bloc 2 icons rondes réseaux sociaux */

.reseaux-sociaux {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 5vh 0vw;
}

/* bloc 2 icons rondes réseaux sociaux */

.reseaux-sociaux div {
    padding: 0% 2% 8% 2%;
}


/* grid sections */
.grid {
    margin-bottom: 10%;
}


/* grid image gauche */

.grid-container-gauche {
    display: grid;
    grid-template-columns: 10% 4% 38% 6% 42%;
    grid-template-rows: 50px 480px 35px 65px;
    grid-gap: 0px;
}

/* grid image droite */


.grid-container-droite {
    display: grid;
    grid-template-columns: 42% 6% 38% 4% 10%;
    grid-template-rows: 50px 480px 35px 65px;
    grid-gap: 0px;
}

/* grid fond  natropathie (introduction)*/

.naturopathie-fond {
    grid-column: 1 / span 5;
    grid-row: 1 / span 4;
    background: linear-gradient(to bottom right, rgb(190, 210, 140), rgb(230, 238, 210));
}

/* grid image natropathie (introduction) */

.naturopathie-image {
    grid-column: 2/ 4;
    grid-row: 2;
    background-image: url(img/stock-photo-water-drop-from-leaf-and-laboratory-for-natural-chemistry-concept-422217088.jpg);
    background-size: 180%;
    background-repeat: no-repeat;
    background-position: top left;
}


/* grid fond "bilan de vitalité" */

.bilan-fond {
    grid-column: 1 / span 5;
    grid-row: 1 / span 4;
    background: linear-gradient(to bottom right, #cec3d2, #e6e0e8);
}

/* grid image "bilan de vitalité" */

.bilan-image {
    grid-column: 3/ span 2;
    grid-row: 2;
    background-image: url(img/stock-photo-spa-background-with-bunches-of-fresh-lavender-flowers-and-bottles-of-natural-extracts-or-essential-668718346.jpg);
    background-size: 200%;
    background-repeat: no-repeat;
    background-position: top right;
}


.slogan {
    grid-column: 1 /span 5;
    grid-row: 4;
    align-self: baseline;
    text-align: center;
}


/* grid fond "Education nutrionnelle  */

.cont02-fond {
    grid-column: 1 / span 5;
    grid-row: 1 / span 4;
     background: linear-gradient(to bottom right, #eee78e, #f1eca4);
}

/* grid bloc blanc "bilan de vitalité" */

.bilan-blanc {
    grid-column: 2 / 4;
    grid-row: 1 / 4;
    background-color: white;
}

.bilan-blanc-droite {
    grid-column: 3 / 5;
    grid-row: 1 / 4;
    background-color: white;
}


/* grid image EDUCATION NUTRIIONELLE */

.cont02-image {
    grid-column: 2/ 4;
    grid-row: 2;
    background-image: url(img/stock-photo-back-lit-flash-photography-in-the-rain-581498992.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top right;
}

/* grid  GESTION DU STRESS */

.stress-fond {
    grid-column: 1 / span 5;
    grid-row: 1 / span 4;
    background: linear-gradient(to bottom right, #e9dbcd, #f1e8df);
}

/* grid  GESTION DU STRESS */

.stress-image {
    grid-column: 3/ span 2;
    grid-row: 2;
    background-image: url(img/stock-photo-beautiful-young-woman-in-spa-salon-591185735.jpg);
    background-size: 180%;
    background-repeat: no-repeat;
    background-position: center;
}


/* grid GROSSESSE */

.grossesse-fond {
    grid-column: 1 / span 5;
    grid-row: 1 / span 4;
    background-color: #f7cfe1;
      background: linear-gradient(to bottom right, #f7cfe1, #fbe5ef);
}

/* grid GROSSESSE */

.grossesse-image {
    grid-column: 2/ 4;
    grid-row: 2;
    background-image: url(img/stock-photo-pregnant-woman-in-dress-holds-hands-on-belly-on-a-white-background-pregnancy-maternity-707780656.jpg);
    background-size: 200%;
    background-repeat: no-repeat;
    background-position: center;
}


/* div temoignages */

p.temoignages {
        padding: 3% 20%;
    font-style: italic;
}

p.temoignages-name {
    color: #fdb2a8;
    text-align: right;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    padding: 0% 20%;
}

.button {
    text-align: center;
}

p.button-temoignage {
    margin: auto;
    color: white;
    font-family: 'Montserrat', sans-serif;
    background-color: #fdb2a8;
    padding: 1% 6%;
    margin: 2% 0% 5% 0%;
    border-radius: 5px;
    font-size: 1em;
    font-weight: 600;
    text-transform: uppercase; 
    text-align: center;
}

p.button-temoignage:hover {
    background-color: #fc9c8f;
}

/* slogan */

h3.naturopathie {
    color: rgba(159, 188, 85, 0.3);
}

h3.bilan {
    color: rgba(95, 75, 139, 0.2);
}
	
h3.cont02 {
    color: rgba(255, 255, 255, 0.5);
}

h3.massage {
    color: rgba(0, 0, 0, 0.2);
}

h3.grossesse {
    color: rgba(236, 141, 184, 0.3);
}

h3.temoignages {
    color: #fdb2a8;
    text-align: center;
}


/* bloc texte dans chaque carton */

.descriptif {
    grid-column: 5;
    grid-row: 2;
    margin: 0vh 2vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.descriptif-gauche {
    grid-column: 1;
    grid-row: 2;
    margin: 0vh 2vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* footer */

footer {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    background-color: #bed38e;
    font-family: 'Montserrat', sans-serif;
    font-weight:400;
    font-size: 11px;
    padding: 1.5% 1%;
    color: rgba(255,255,255,0.8); 
}

footer a {
     color: rgba(255,255,255,0.8);
}

footer a:hover {
     color: rgba(255,255,255,1);
}

footer a:visited {
     color: rgba(255,255,255,0.8);
}

/* links */

a {
    color: rgb(31,70,40);
    text-decoration: none;
}

a:hover {
    color: rgba(31,70,40,0.5);
}

a:visited {
    color: rgb(31, 70, 40);
}

/* responsive media queries */

@media only screen and (max-width: 600px) {
    body {
        width: 100%;
    }
}

@media only screen and (max-width: 600px) {
    .header1 {
        width: 95%;
        margin: auto;
    }
}


@media only screen and (max-width: 600px) {
    nav {
        height: auto;
    }
}


@media only screen and (max-width: 600px) {
    .grid-responsive {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 120px 150px 150px auto;
    }
}



@media only screen and (max-width: 600px) {
    .bilan-blanc {
        display: none;
    }
}


@media only screen and (max-width: 600px) {
    .bilan-image {
        display: grid;
        grid-column: 1;
        grid-row: 2 / span 3;
    }
}

@media only screen and (max-width: 600px) {
    .image-responsive {
        display: grid;
        grid-column: 1;
        grid-row: 2 / span 2;
    }
}

@media only screen and (max-width: 600px) {
    .descriptif {
        display: grid;
        grid-column: 1;
        grid-row: 4;
        padding: 8% 5% 20% 5%;
    }
}

@media only screen and (max-width: 600px) {
    .bilan-slogan {
        display: grid;
        grid-column: 1;
        grid-row: 1;
        align-self: start;

    }
}

@media only screen and (max-width: 600px) {
    h3 {
        font-size: 3em;
        padding: 2%;
        text-align: right;
        grid-row: 1;
    }
}

@media only screen and (max-width: 600px) {
    h3.naturopathie {
       display: block;
    }
}

@media only screen and (max-width: 600px) {
    p.temoignages {
      padding: 1% 4%;
    }
}

@media only screen and (max-width: 600px) {
    p.button-temoignage {
      width: 80%;
    }
}

/* nav respsonsive */

@media only screen and (max-width: 600px) {
    nav ul {
    width: 100%;
        display: flex;
        flex-wrap: wrap;
        font-size: 1em;
        justify-content: center;
        padding-bottom: 5%;
    }
}

@media only screen and (max-width: 600px) {
    nav li {
    background-color:  rgba(31, 70, 40, 0.3);
        color: white;
        padding: 2% 2%;
        margin: 2%;
    }
}

@media only screen and (max-width: 600px) {
    footer {
      display: flex;
        text-align: center;
         line-height: 1.3em;
    flex-direction: column;
    }   
}


@media only screen and (max-width: 600px) {
    footer div {
      margin: 2% 5%;
    }   
}


