/* couleurs :
1 Gardenia #f1e8df
2 Cherry Blossom #f7cfe1
3 Yellow Iris #eee78e
4 Ultra Violet #5f4b8b
5 Orchid Hush #cec3d2
6 Peach Bud #fdb2a8
7 Lettuce Green #bed38e
8 Astral Aura #363151
*/

/* typographie : 
font-family: 'Montserrat', sans-serif;
font-family: 'Libre Baskerville', serif;
*/

body {
    width: 980px;
    margin: 0 auto; 
}

.top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1% 1%;
 }

h5 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 1.2em;
    display: flex;
    align-items: center;
    display: flex;
    align-content: center;
}

.social-media-navbar {
    font-size: 1.5em;
}


/* navigation menu */
nav {
   background: linear-gradient(to bottom right, rgb(190, 210, 140), rgb(230, 238, 210));
        padding: 2% 0%;

}

nav ul {
    display: flex;
    justify-content: center;
    margin-bottom: 0%;
    
}
nav li {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    padding: 0% 2%;
    margin-bottom: 0%;
    text-transform: uppercase;
    justify-content: center;
    text-align: center;
    font-size: .7em;
    color: rgb(31,70,40);
    list-style-type: none;
}


h1, h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.8em;
    color: #777;
    line-height: 1.2em;
    font-weight: 500;
    margin-bottom: 5%;
    letter-spacing: .02em;
}


h2 {
    font-size: 1.5em;
    line-height: 1.4em;
     color: #777;
     font-weight: 600;

}

h2.navbar-title {
    font-size: 1em;
    padding: 0% 0%;
    margin: 0% 0%;
}

header  {
    display: flex;
    height: 200px;
    width: 100%;
    margin-bottom: 8%;
   
}

header div {
    width: 20%;
    height: auto;
  
}

header img {
 width: 100%;
    height: 200px;
    object-fit: cover;
  
}


/* typographie */

h3, h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 5rem;
    font-weight: 700;
    color: #777;
}

h4 {
    font-size: 1.2rem;
    margin-bottom: 10%;
    text-transform: uppercase;
  
}

/* typographie */

p, li {
    font-family: 'Libre Baskerville', serif;
    font-size: 1em;
    line-height: 1.8em;
    color: #777;
    margin-bottom: 5%;
    list-style-type: square;
}





ul {
    margin-bottom: 5%;
}

.blog {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 980px;
    margin-top: 5%;

}

aside {
    width: 25%;
}

article {
    width:  70%;
align-self: flex-start;
    align-content: flex-start;
}


table {
    width: 100%;
    margin-bottom: 10%;
    font-family: 'Montserrat', sans-serif; 
    font-weight: 500;
    color: #777;
  
   
}

th { 
    background-color: #f1e8df;
  
}

td.time {
    background-color: #f1e8df;

}

th, td {
     border-style: solid;
    border-width:thin;
    border-color: gainsboro;
    width: 10%;
      padding: 1% 0%;
}

th {
        padding: 2% 0%;

}



tr {
    height: 5px;
}

.fill {
 background-color: #cec3d2;
}


th.nofill {
     background-color: white;
    border-width: 0px;
}



td {
    font-size: .8em;
    text-align: center;
}





.tem-bullet {
    list-style-image: url(img/iconmonstr-quote-5-64.png);
    font-family: 'Libre Baskerville', serif;
    font-style: italic;
       padding: 0% 0%;
    margin: 0% 0%;
}


p.temoignage-nom {
      font-family: 'Montserrat', sans-serif;
    text-align: right;

  
}



.formations-logos div {
width: 45%;
}


.formations-logos {
    display: flex;
    margin-bottom: 5%;
    justify-content: space-between;
}

.formations-logos img {
  width: 100%;
}

.logos-left {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

section {
    margin: auto;
    width: 550px;
    
}




/* form */
.checkboxes {
    display: flex;
    align-items: baseline;
    font-family: 'Libre Baskerville', serif;
     font-size: 1em;
    color: #777;
    margin-bottom: 5%;  
}


#nom {
    font-family: 'Libre Baskerville', serif;
    font-size: 1em;
    color: #777;
    border-style: solid;
    border-width: 0px 0px thin 0px;
    border-color: rgb(31,70,40);
    margin-bottom:5%;
}

#email {
    font-family: 'Libre Baskerville', serif;
    font-size: 1em;
    color: #777;
    border-style: solid;
    border-width: 0px 0px thin 0px;
    border-color: rgb(31,70,40);
    margin-bottom: 5%;
}

#telephone {
    font-family: 'Libre Baskerville', serif;
    font-size: 1em;
    color: #777;
    border-style: solid;
    border-width: 0px 0px thin 0px;
    border-color: rgb(31,70,40);
    margin-bottom: 5%;
}

#message {
    font-family: 'Libre Baskerville', serif;
    font-size: 1em;
    color: #777;
    border-style: solid;
     border-width: thin;
    border-color: rgb(31,70,40);
    margin-bottom: 2%;
    padding: 2%;
}

.button {
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(31,70,40);
    color: white;
    font-size: .8em;
    text-transform: uppercase;
    padding: 1% 4%;
    border-radius: 5px;
    margin-bottom: 3%;
}

.button:hover {
    background-color: #275832;
   
}



/* footer */

footer {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    background-color: #bed38e;
    font-family: 'Montserrat', sans-serif;
    font-weight:400;
    font-size: 11px;
    padding: 1.5% 1%;
    margin-top: 5%;
    color: rgba(255,255,255,0.9);
    
    
}

footer a {
     color: rgba(255,255,255,0.5);
}

footer a:hover {
     color: rgba(255,255,255,1);
}

footer a:visited {
     color: rgba(255,255,255,0.5);
}



/* liens */


a {
    color: rgb(31,70,40);
    text-decoration: underline;
}

nav a {
    text-decoration: none;
}

a:hover {
    color: rgba(31,70,40,0.5);
}

a:visited {
    color: rgb(31, 70, 40);
}


/* responsive media queries */

@media only screen and (max-width: 600px) {
    body {
        width: 100%;
    }
}

@media only screen and (max-width: 600px) {
    .header1 {
        padding: 1% 0%;
        width: 95%;
        justify-content: space-between;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 600px) {
    nav {
        height: auto;
    }
}



@media only screen and (max-width: 600px) {
    nav ul {
    width: 100%;
        display: flex;
        flex-wrap: wrap;
        font-size: 1em;
        justify-content: center;
    }
}



@media only screen and (max-width: 600px) {
    nav li {
    background-color:  rgba(31, 70, 40, 0.3);
        color: white;
        padding: 2% 2%;
        border-radius: 5px;
        margin: 2% 2%;
        height: auto;
    }
}



@media only screen and (max-width: 600px) {
    section {
        width: 90%;
        padding: 0% 5%;
    }
}

@media only screen and (max-width: 600px) {
    footer {
      display: flex;
        text-align: center;
         line-height: 1.3em;
    flex-direction: column;

    }   
}


@media only screen and (max-width: 600px) {
    footer div {
      margin: 2% 5%;

    }   
}

@media only screen and (max-width: 600px) {
     #message {
      width: 100%;

    }   
}

@media only screen and (max-width: 600px) {
     h5 {
      font-size: 1em;
    }   
}

@media only screen and (max-width: 600px) {
     .formations-logos {
    display: flex;
    flex-direction: column;
    height: auto;
    align-items: flex-start;
    margin-bottom: 5%;
    }
}   


@media only screen and (max-width: 600px) {
     .formations-logos div {
width: 60%;
         margin: auto;
    }
} 


@media only screen and (max-width: 600px) {
     .blog {
         display: flex;
         flex-direction: column-reverse;
         
width: 90%;
    }
    aside {
        width: 100%;
    }
    
    article {
        width: 100%;
    }
}