<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Blog Home - Start Bootstrap Template</title>

    <!-- Bootstrap core CSS -->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Custom styles for this template -->

    
    <link href="css/blog.css" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <div class="cookies">Nous utilisons les cookies pour nos statistiques de fréquentation. En continuant à utiliser le site, vous acceptez l’utilisation des cookies.<br> <a href="#">En savoir plus</a>
      <button type="submit" class="accept button">Accepter</button>
      <button type="submit" class="refuse button">Refuser</button><br>
      <a class="poli" href="#">Politque de confidentialité</a>
    </div>


      <div class="flouting">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">LESLIE CABARRUS - NATUROPATHE</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto userbar">
            <li class="nav-item active">
              <a class="nav-link" href="#">ACCUEIL
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">PRENDRE RENDEZ-VOUS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="index.php">BLOG</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">A PROPOS</a>
            </li>
          </ul>
          <ul class="navbar-nav ml-auto userbar">
             
            <li class="nav-item">
              <a class="nav-link" href="inscription.php">INSCRIPTION</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">CONNEXION</a>
            </li>
          </ul>
          
        </div>

      </div>
    </nav>

    <!-- Page Content -->
    <div class="ecater"></div>
    <div class="container">

      <div class="row">


        <div class="col-md-4">

          <!-- Search Widget -->
          <div class="card my-4">
            <h5 class="card-header">Recherche</h5>
            <div class="card-body">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Que cherchez vous ?">
                <span class="input-group-btn">
                  <button class="btn btn-secondary" type="button">Go!</button>
                </span>
              </div>
            </div>
          </div>

          <!-- Categories Widget -->
          <div class="card my-4">
            <h5 class="card-header">Categories</h5>
            <div class="card-body">
              <div class="row">
                <div class="col-lg-6">
                  <ul class="list-unstyled mb-0">
                    <li>
                      <a href="#"></a>
                    </li>
                </div>
                <div class="col-lg-6">
                  <ul class="list-unstyled mb-0">
                    <li>
                      <a href="#"></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <!-- Side Widget -->
          <div class="card my-4">
            <h5 class="card-header">Newsletter</h5>
            <div class="card-body">
             <div class="input-group">
                <input type="mail" class="form-control" placeholder="abcde@12345.fr">
                <span class="input-group-btn">
                  <button class="btn btn-secondary" type="button">Go!</button>
                </span>
              </div>
            </div>
          </div>

        </div>
        <!-- Blog Entries Column -->
        <div class="col-md-8">
          <div class="profiling">
                   <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a href="">Compte</a></li>
            <li class="nav-item"><a href="">Message</a></li>
            <li class="nav-item"><a href="">News</a></li>
            <li class="nav-item"><a href="">Notification</a></li>
            <li class="nav-item"><a href="">Deconnexion</a></li>
          </ul>
          </div>



          <?= $content ?>
        </div>

      <!-- /.row -->

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; 10MentionWeb - WF3   .  2017 - 2018</p>
      </div>
      <!-- /.container -->
    </footer>
  </div>
    <!-- Bootstrap core JavaScript -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="js/cookies.js"></script>
<!-- Fichier JS pour Cookies  -->
  </body>

</html>
 
